.all_content
{
  width: 100%
}

.overall_logo
{
    float: left;
}

.channel_logo
{
    float: left;
    padding: 2px;
    margin: 2px;
    /*padding-right: 10px;*/
}

.channel_logo_selected
{
    border: yellow solid medium;
}

.channel_logo_notselected
{
    border: black solid medium;
}

.header
{
  float: left;
}

.channels
{
  float:left;
}

.channel_item
{
  list-style-type: none;
}

.reset_floats
{
  clear: both;
}