.all_content
{
  width: 100%
}

.overall_logo
{
    float: left;
}

.channel_logo
{
    float: left;
    padding-right: 10px;
}

.header
{
  float: left;
}

.channels
{
  float:left;
}

.channel_item
{
  list-style-type: none;
}

.reset_floats
{
  clear: both;
}